.navigation {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.navigationItem {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
}
.activeNavigationItem {
    color: gold;
}

.container {
    padding: 5px;
}